<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opciones de Inicio</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
    <div class="container">
        <h1>Gestión de Estudiantes</h1>
        <ul class="main-menu">
            <li><a href="/ActualizarDatos">Actualizar datos de un estudiante</a></li>
            <li><a href="/buscarIp">Buscar por IP a el estudiante</a></li>
            <li><a href="/eliminar">Eliminar estudiante</a></li>
            <li><a href="/ingresar">Ingresar nuevo estudiante</a></li>
            <li><a href="/mostrarlista">Mostrar la lista completa de los estudiantes</a></li>
        </ul>
    </div>
</body>
</html>